
<div class="about-main">
  <h3>プログラミング学習で挫折しちゃう人の特徴</h3>
  <p>

◆環境設定が大変</br>

◆何から始めてどこまでやればいいかわからない</br>

◆わからないことを聞ける人がいない・調べ方がわからない</br>

◆本を買っただけ・読んだだけで満足する</br>

◆本当に身についているのか・どれぐらい身についているのかわからない</br>



  </p>

</div>
